.slider-btn {
    display: inline-block;
    padding: 4px 20px;
    color: #fabf8f;
    border: 2px solid #fabf8f;
    cursor: pointer;
    margin-bottom: 20px;
}

.slider-btn:hover {
    color: white;
    background-color: #fabf8f;
}

.carousel-indicators button {
    width: 16px !important;
    height: 16px !important;
    border-radius: 100%;
    background-color: #fabf8f !important;
}

.header-nav {
    position: fixed;
    color: #fabf8f;
    font-size: large;
    top: 0px;
    z-index: 2;
    height: 72px;
    width: 100%;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.70);
}

.left-img {
    height: 60px;
    width: auto;
}

.right-img {
    height: 30px;
}

.header-text {
    font-size: medium;
    font-weight: bold;
    color: #fabf8f;
}

.nav-link a {
    text-decoration: none;
}

.footer-nav {
    position: fixed;
    bottom: 0px;
    height: 56px;
    width: 100%;
    margin: 0px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.80);
}

.footer-icon {
    border: 1px solid white;
    border-radius: 6px;
    padding: 0px 12px;
    margin: 0px 8px;
    cursor: pointer;
}

.footer-icon i {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.80);
}

.contact-btn {
    padding: 4px 20px;
    color: #fabf8f;
    border: 2px solid #fabf8f;
    border-bottom: none;
    cursor: pointer;
    margin: 0px;
}

.img-border {
    border: 4px solid black;
    padding: 12px 16px;
    width: 120px;
    height: 100px;
}

.service-title {
    font-size: 14px;
    color: #fabf8f;
}

.sticky-header {
    position: fixed;
    top: 0px;
    height: 72px;
    width: 100%;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.80);
}

.service-details {
    height: 100vh;
}

.phone {
    font-size: larger;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.offcanvas {
    background-color: rgba(0, 0, 0, 0.70);
}

.offcanvas-footer {
    text-align: center !important;
    margin-bottom: 20%;
}

.offcanvas-title {
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    padding-bottom: 10px;
}

ul li a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #fabf8f;
    font-weight: bold;
}

ul li a:hover:not(.active) {
    background-color: #111;
}

.padding-bottom-10p {
    padding-bottom: 10%;
}

@media only screen and (max-width: 575px) {
    .section-height {
        height: 100%;
    }

    .fleet {
        height: 400px;
        margin-bottom: 20px;
    }

    .services-width {
        width: 80%;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .choose-us img {
        height: 350px;
    }

    .img-border {
        width: 100px;
    }

    .hide-on-desktop {
        display: none;
    }

    footer {
        bottom: 0px;
        width: 100%;
        margin: 0px;
        z-index: 3;
    }

    .footer-phone {
        text-decoration: none;
        color: white;
        line-height: 50px;
        font-weight: bold;
        size: 24px;
    }

    .footer-phone-icon {
        padding-top: 10px;
        border-radius: 6px;
        cursor: pointer;
    }

    .footer-phone-icon i {
        font-size: 24px;
        padding: 8px 8px;
        color: rgba(255, 255, 255, 0.80);
    }

    .contact-form {
        padding-top: 120px;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 576px) {
    .section-height {
        height: 100vh;
    }

    .fleet {
        height: 75vh;
    }

    .services-width {
        width: 50%;
    }

    .choose-us img {
        height: 60vh;
    }

    .choose-us div {
        height: 40vh;
    }
}

@media only screen and (max-height: 700px) {
    .section-height {
        height: 100%;
    }

    .service-details {
        height: 100%;
    }
}

@media (min-width: 1024px) {
    .hide-on-mobile {
        display: none;
    }
}